body{
    font-family: 'Montserrat';
    background-image: url(/1/background.jpeg);
}
    .main-categories p{
        background-color: #fff;
    }
    header a{
        color: #D82616;
    }